img {
    width: 30%;
    margin: 1.5%;
}
nav{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid salmon;
    width: 30%;
    margin-left: 1.6666%;
    padding: 10px 0;
}