table,td,th,tr{
    border: 2px solid blueviolet;
    border-collapse:collapse;
    padding: 10px;
    border-spacing: 10px;
}
th{
    background-color: coral;
}
td{
    background-color: rgb(152, 224, 221);
}